section#contact-info{
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 10px;
	margin-top: 15px;
}

.small {
	font-size: .8em;
}

section#personal-objective::first-letter{
	font-size: 200%;
	color: red;
}

section#personal-objective::first-line{
	font-size: 100%;
	background-color: green;

}
